<%- include("./partials/header")%>
<div class="ui main text container">
  <div class="item">
    <div class="content">
      <h3 class="header">About Covid-19</h3>
      <!-- <div class="ui container"><img class="ui small image" src="IMG_6028.JPG"></div> -->
      <div class="ui ">
        <img height ="200px" width="300px" src="https://media.npr.org/assets/img/2020/11/05/gettyimages-1212467726_slide-d5aecc2c4c317a3fbac845b5bd2c40d29ae95fab.jpg">
        <h1>
          
        </h1>
        <p>
          According to the United States Center for Disease Control (CDC), COVID-19 is caused by a coronavirus called SARS-CoV-2. Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness.

Influenza (Flu) and COVID-19 are both contagious respiratory illnesses, but they are caused by different viruses. COVID-19 is caused by infection with a new coronavirus (called SARS-CoV-2), and flu is caused by infection with influenza viruses.

COVID-19 seems to spread more easily than flu and causes more serious illnesses in some people. It can also take longer before people show symptoms and people can be contagious for longer. More information about differences between flu and COVID-19 is available in the different sections below.

Because some of the symptoms of flu and COVID-19 are similar, it may be hard to tell the difference between them based on symptoms alone, and testing may be needed to help confirm a diagnosis.

While more is learned every day about COVID-19 and the virus that causes it, there is still a lot that is unknown . This page compares COVID-19 and flu, given the best available information to date.
        </p>
        <!-- Add a img tag here -->

      </p>
      </div>
      
    </div>
  </div>
</div>
<%- include("./partials/footer")%>