<%- include("partials/header")%>
<div class="container">
        <div style="width: 30%; margin: 50px auto;">
            <h1 style="text-align: center">Forgot Password</h1>
            <form action="/forgot" method="post">
                <div class="form-group">
                    <!-- <label>Enter email used for registering: </label> -->
                    <input class="form-control" type="email" name="username" placeholder="Email">
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div> -->
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>

        </div>
        <!-- <div style="width: 30%; margin: 50px auto;">
            <h2>Not a user yet? Sign Up!</h2>
            <a href="/register" class="btn btn-primary btn-lg btn-block">Sign Up</a>
        </div> -->
        <div style="width: 30%; margin: 25px auto;">
            <a href="/blogs" class="btn btn-warning btn-sm">Go Back</a>
        </div>
    </div>

<%- include("partials/footer")%>