<%- include("./partials/header")%>
<div class="ui main text container">
  <div class="item">
    <div class="content">
      <h3 class="header">Latest News on Covid</h3>
      <!-- <div class="ui container"><img class="ui small image" src="IMG_6028.JPG"></div> -->
      <div class="ui ">
        <p></p>
        <!-- Add a img tag here -->

      </p>
      </div>
      
    </div>
  </div>
</div>
<%- include("./partials/footer")%>