<%- include("partials/header")%>
<div class="container">
        <div style="width: 30%; margin: 50px auto;">
            <h1 style="text-align: center">My Profile</h1>
            <form action="#" method="post">
                <div class="form-group">
                    <label>Name: </label>
                   <input class="form-control" type="text" name="username" value="<%=currentUser.name%>" disabled>
                </div>
                <div class="form-group">
                    <label>Username: </label>
                    <input class="form-control" type="text" name="username" value="<%=currentUser.username%>" disabled>
                </div>
                <!-- <div class="form-group">
                    <input class="form-control" type="password" name="password" value="<currentUser.username%>">
                </div> -->
            </form>

        </div>
        <!-- <div style="width: 30%; margin: 50px auto;">
            <h2>Not a user yet? Sign Up!</h2>
            <a href="/register" class="btn btn-primary btn-lg btn-block">Sign Up</a>
        </div>
        <div style="width: 30%; margin: 25px auto;">
            <a href="/blogs" class="btn btn-warning btn-sm">Go Back</a>
        </div> -->
    </div>

<%- include("partials/footer")%>