<%- include("./partials/header")%>
<div class="ui main text container">
  <div class="item">
    <div class="content">
      <h3 class="header">Prevention</h3>
      <!-- <div class="ui container"><img class="ui small image" src="IMG_6028.JPG"></div> -->
      <div class="ui ">
        <p></p>
        <!-- Add a img tag here -->
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/FYzLh3nEevY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <p>For the general public, the best way of stopping the spread of COVID-19 is to 
          prevent exposure to yourself. Staying at home as much as possible, practicing 
          social distancing while outside, and frequently washing hands are practices that will not 
          only reduce the likelihood of contracting COVID-19 in individuals, but also help curb 
          the spread of the virus.</p>
        <div style='position:relative; padding-bottom:calc(100.00% +
        44px)'><iframe src='https://gfycat.com/ifr/HarmoniousKlutzyBlackbear'
        frameborder='0' scrolling='no' width='100%' height='100%'
        style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
        <p>
          <a href="https://gfycat.com/discover/cdc-gifs"from Cdc GIFs> 
            <a href="https://gfycat.com/harmoniousklutzyblackbear-alone-together-coronavirus-stayhome-covid-19"via Gfycat>
        </p>
              </p>
              </div>
      
    </div>
  </div>
</div>
<%- include("./partials/footer")%>