<%- include("./partials/header")%>
<div class="ui main text container">
  <div class="item">
    <div class="content">
      <h3 class="header">Possible treatments for Covid-19</h3>
      <!-- <div class="ui container"><img class="ui small image" src="IMG_6028.JPG"></div> -->
      <div class="ui ">

        <!-- Add a img tag here -->
        <img height ="200px" width="300px" src="https://news.usc.edu/files/2020/06/covid_vaccine_stock.jpg">
        <h1>

        </h1>
        <p>
          So far, the Food and Drug Administration (FDA) has approved one drug, remdesivir (Veklury), to treat COVID-19. Any treatments that are used for COVID-19 should be taken under the care of a healthcare provider.

          According to Harvard Health, the FDA has granted emergency use authorization (EUA) to two new treatments for COVID-19. Both are monoclonal antibodies. And both have been approved to treat non-hospitalized adults and children over age 12 with mild to moderate symptoms who have recently tested positive for COVID-19, and who are at risk for developing severe COVID-19 or being hospitalized for it. This includes people over 65, people with obesity, and those with certain chronic medical conditions.
        </p>
      </p>
      </div>
      
    </div>
  </div>
</div>
<%- include("./partials/footer")%>